<div id="footer-navbar-fixed-bottom" class="navbar navbar-fixed-bottom">
  <div class="container">
    <div class="row">
      
      <div class="span6 pagination-centered">
        <div id="footer-links" >
          
          <div class="col-md-4"> <%= link_to "OpenARCHEM Project", "http://openarchem.wordpress.com", :target => "_blank" %></div>
          <div class="col-md-4">OpenARCHEM, Version 1.0</div>
          <div class="col-md-4"><%= mail_to "openarchem@gmail.com", "Contact Us", :encode => 'javascript'%></div>
           
         
          
        </div>
      </div>

    </div>
  </div>
  <%= render :partial => 'shared/google_analytics' %>
</div>